<div fxLayout="row"
     fxLayoutAlign="space-around start"
     class="container-top">
  <div fxFlex="60%">
    <mat-card>
        <form noValidate  
        [formGroup]="bookForm"
        (ngSubmit)="submit()">
        <mat-card-header>Add Book</mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <!--title-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput
                  placeholder="Title"
                  formControlName="title">
            <mat-icon matSuffix>book</mat-icon>
          </mat-form-field>
          <!--author-->
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>Author</mat-label>
              <input matInput
                    placeholder="Author"
                    formControlName="author">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <!--year-->
          <mat-form-field class="full-width" appearance="outline">
              <mat-label>Year</mat-label>
              <input matInput
                    placeholder="Year"
                    formControlName="year">
              <mat-icon matSuffix>date_range</mat-icon>
            </mat-form-field>
          <mat-card-actions fxLayout="column">
            <button mat-raised-button
                    color="primary"
                    type="submit">
              Submit
            </button>
        </mat-card-actions>
     </mat-card-content>
        </form>
    </mat-card>
  </div>
</div>
